.container {
	@apply flex flex-col mt-4 p-6 w-full bg-white text-gray-900 border border-whiteModeBorder rounded-xl
  dark:text-componentText dark:bg-componentBG dark:border-componentBorder;
}
.topDiv{
  @apply flex flex-row gap-2 ;
  .userIco{
    @apply w-10 h-10 m-2 rounded-full border border-blue-500 border-2 ;
  }
  // .grInput {
  //   @apply bg-gray-50 border border-gray-300 text-gray-900 h-10 text-sm rounded-lg mt-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  // }
  .grInput {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mt-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
}

.bottomDiv{
  @apply  flex flex-wrap flex-row gap-4 m-2 w-full;
  .btnDiv{
    @apply  flex  gap-1 p-1 h-6 rounded-lg bg-gray-200 text-gray-900 
    dark:bg-gray-600 dark:placeholder-gray-400 dark:text-gray-100
    hover:text-blue-500 ;
  }
  .btnDivEnd{
    @apply mr-2 flex w-full justify-end;
  }
  a{
    @apply text-xs cursor-pointer;
  }
}

