.container {
	@apply w-full flex justify-between border rounded-lg p-6 border-light_border dark:border-dark_border bg-white dark:bg-dark_background;
	form {
		@apply flex flex-col items-center justify-between;
		.dropZoneContainer {
			@apply flex items-center justify-center w-full;
			.dropZoneLabel {
				@apply flex flex-col items-center justify-center w-full h-64 border-4 border-light_border
      border-dashed rounded-lg cursor-pointer
       bg-light_background dark:hover:border-button_blue_BG dark:bg-dark_background hover:bg-button_blue_opacity
        dark:border-dark_border transition-all duration-300 ease-in;
			}
			.dropZoneSVGContainer {
				@apply flex flex-col items-center flex-nowrap justify-center px-6;
				.dropZoneSVG {
					@apply text-gray-900 dark:text-dark_text_gray py-6;
				}
			}
			.dropZoneSVGContainer p {
				@apply mb-2 text-sm text-gray-500 dark:text-gray-400;
			}
			.dropZoneSVGContainer p:last-child {
				@apply text-xs text-gray-500 dark:text-gray-400 pb-6;
			}
		}
		.buttonContainer {
			@apply w-full flex items-center justify-end;
			.button {
				@apply text-white bg-blue-700 hover:bg-blue-800 
         focus:ring-4 focus:outline-none focus:ring-blue-300 
         font-medium rounded-lg text-sm px-5 py-2.5 text-center
          dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-300 transition-all ease-in;
			}
		}
	}
}
