.container {
	@apply w-full border rounded-lg border-light_border dark:border-dark_border bg-white dark:bg-dark_background;
	.description {
		@apply p-6 leading-6 text-light_text dark:text-dark_text_gray;
		h2 {
			@apply text-gray-900 dark:text-white text-2xl;
		}
	}
	.form {
		@apply flex justify-center flex-col;
		.namesBlock {
			@apply flex justify-around flex-row flex-wrap w-full;
			.inputContainer {
				@apply w-full pl-6 pr-6;
				.inputLabel {
					@apply block mb-2 mt-2 font-light text-light_text dark:text-dark_text_gray;
				}
				.input {
					@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none 
				 dark:bg-main_background dark:border-dark_border dark:placeholder-gray-400 dark:text-dark_text_gray dark:focus:ring-blue-500 dark:focus:border-blue-500;
				}
				.inputError {
					@apply bg-gray-50 border border-button_red_BG text-gray-900 text-sm rounded-lg
         focus:ring-button_red_BG focus:border-button_red_BG block w-full p-2.5 outline-none 
				 dark:bg-main_background dark:border-button_red_BG dark:placeholder-button_red_BG dark:text-dark_text_gray dark:focus:ring-button_red_BG dark:focus:border-button_red_BG;
				}
			}
		}
		.namesBlock:nth-last-child(n-1) {
			@apply pt-2;
		}
		.formButton {
			@apply flex justify-end w-full pr-6 pt-5 pb-6;
			.button {
				@apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
			}
		}
	}
}
