.container {
	@apply flex flex-col w-full p-6 bg-white text-gray-900 border border-whiteModeBorder rounded-xl
  dark:text-componentText dark:bg-componentBG dark:border-componentBorder;
	.button{
    @apply flex items-center transition duration-300 p-2 rounded-lg text-buttonBlue bg-buttonBlueOpacity hover:bg-buttonBlue hover:text-white;
  }
  h2 {
    @apply text-gray-900 dark:text-white text-xl;
  }
}
.nav {
  @apply flex w-full items-center justify-center gap-6 border-b flex-wrap 
  md:flex-nowrap md:justify-start lg:justify-start lg:flex-nowrap 
  dark:border-componentBorder;
  .counterLink {
    @apply flex items-center h-full border-b-4 border-b-blue-500;
  }
  .link {
    @apply my-4  hover:text-blue-500 transition-all duration-300 font-bold;
  }
  .linkUnderline {
    @apply text-buttonBlue my-4 hover:text-blue-500 transition-all duration-300 font-bold;
  }
}